.layout {
    height : 100vh;
    padding: 20px 50px;
}

.header{
    height : 10%;
    background-color: white;
    border-radius: 5px;
    border : 2px solid black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    color : black;
    font-weight: bold;
    font-size: 22px !important;
}

.content{
    border: 1px solid grey ;
    border-radius : 5px;
    margin-top: 20px;
    box-shadow: 0 0 3px gray;
    padding : 15px;
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: linear-gradient(109.6deg, rgb(170, 94, 94) 0.3%, rgb(137, 30, 47) 98.8%);
}


.ant-space-item{
    
    color: black;
    border : 1px solid black;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}

.ant-space-item:hover {
    cursor: pointer;
}



