.layout {
    height : 100vh;
    padding: 20px 50px;
}

.header{
    height : 10%;
    background-color: rgba(0, 0, 0, 0.856);
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    color : rgba(255, 255, 255, 0.88);
    font-size: 22px !important;
}

.content{
    border: 1px solid grey ;
    border-radius : 5px;
    margin-top: 20px;
    box-shadow: 0 0 3px gray;
    padding : 15px;
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.ant-space-item{
    
    color: white;
    border : 1px solid white;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}

.ant-space-item:hover {
    cursor: pointer;
}

